<link href='http://fonts.googleapis.com/css?family=Snippet' rel='stylesheet' type='text/css'>
  <% content_for :boisson do %>
     <%= stylesheet_link_tag  "fight", media: "all", "data-turbolinks-track" => true %>

  <% end %>

<div id="content">	

	<div id='button' class="start_fight">
	<%= link_to 'Start fighting',fight_path(1) %>
	</div>
</div>

