<link href='http://fonts.googleapis.com/css?family=Snippet' rel='stylesheet' type='text/css'>

<div id='secondline'>
  <a href="">
    <div id='secondline-bigblock'>
      <div id='image-boisson'>
        <img alt="Sunset" src="/assets/boire/sunset.png" />
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
          </div>
          <div id='text-bottom'>
            La sangria sunset
          </div>
        </div>
      </div>
    </div>
    
    <div id='secondline-fourblock'>
      <div id='image-boisson'>
        <img alt="" src="/assets/bar/" />
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
          </div>
          <div id='text-bottom'>
          </div>
        </div>
      </div>
    </div>
<!--
    <div id='image-boisson'>
      <img alt="" src="/assets/bar/" />
      <div id='bottom-block'>
        <div id='icon-bottom'>
          <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
        </div>
        <div id='text-bottom'>

      </div>
    </div>
  </div>
      </div>
     
    </div>
   
  </div>-->
</div>