  <% content_for :boisson do %>
     <%= stylesheet_link_tag  "welcome", media: "all", "data-turbolinks-track" => true %>

  <% end %>


<div id='big_two_small'>
  <a href="<%= boisson_path(6) %>">
    <div id='block' class='big'>
      <div id='image-boisson' class='big_im'>
        <img alt="Sunset" src="/assets/boire/sunset.png" />
      </div>  
      <div id='bottom-block' class="big_bottom">
        <div id='icon-bottom' class="topicon">
          <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
        </div>
        <div id='text-bottom'>
          La sangria sunset
        </div>
      </div>
    </div>
  </a>
  
  <a href="<%= plat_path(2) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class="small_im">
        <img alt="Sunset" src="/assets/plat/cupc.png" />
      </div>  
      <div id='bottom-block' class="small_bottom">
        La folie des Cupcakes
      </div>
    </div>
  </a>

  <a href="<%= plat_path(6) %>">
    <div id='block' class='small'>
      <div id='image-boisson' class='small_im'>
        <img alt="Sunset" src="/assets/plat/glace.png" />
      </div> 
      <div id='bottom-block' class="small_bottom">
        L'été est (enfin) arrivé : glaces à gogo
      </div> 
    </div>
  </a>
    <!--
          <div id='image-boisson'>
        <img alt="" src="/assets/bar/" />
        <div id='bottom-block'>
          <div id='icon-bottom'>
            <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
          </div>
          <div id='text-bottom'>
          </div>
        </div>
      </div>
    </div>-->
<!--
    <div id='image-boisson'>
      <img alt="" src="/assets/bar/" />
      <div id='bottom-block'>
        <div id='icon-bottom'>
          <img alt="Icon-etoile" src="/assets/boire/icon-etoile.png" />
        </div>
        <div id='text-bottom'>

      </div>
    </div>
  </div>
      </div>
     
    </div>
   
  </div>-->
</div>